
@background: #1a1a1a;

@green: #55d400;
@pink: #ff00dd;
@orange: #ff6600;
@red: #ff2a2a;
@yellow: #ffcc00;
@light_green: #aad400;
@blue: #0099ff;

body {
	background-color: @background;
	height: 100%;
	font-family: 'Open Sans', Arial, sans-serif;
	padding-top: 51px;
	a {
		text-decoration: none;
	}
}

h1, h2, h3 {
	font-weight: lighter;
	color: @green;
}

p {
	color: gray;
}

header {
	background-color: darken(@background, 5%);
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 500;
	.logo {
		margin: 10px;
	}
	nav {
		float: right;
		ul {
			list-style: none;
			margin: 0;
			padding: 0;
			height: 51px;
			li {
				display: inline;
				line-height: 51px;
				a {
					font-size: 20px;
					color: lighten(@background, 30%);
					padding: 0 20px;
					display: inline-block;
					height: 51px;
					transition: color 0.5s ease-in-out;
					&:hover {
						color: @green;
					}
				}
				&.active {
					a {
						color: @green;
					}
				}
			}
		}
	}
}

section.slider {
	#home-slider {
		height: 100%
	}
}

section.testing-parallax {
	height: 400px;
	background-color: #333;
}

section.who-we-are {
	background-image: url(../img/w3bex-land.png);
	background-position: bottom center;
	background-repeat: no-repeat;
	height: 470px;
	position: relative;
	overflow: hidden;

	h2 {
		font-size: 44px;
		margin: 10px 0;
		padding-top: 70px;
	}
	p {
		font-size: 19px;
		max-width: 500px;
		margin: 0;
	}
	.headshots {
		position: relative;
		margin-top: 30px;
		z-index: 0;
		.photo {
			width: 52px;
			height: 52px;
			background: gray;
			overflow: hidden;
			position: absolute;

			.fb-photo {
				margin: 1px;
				position: relative;
				opacity: 0;
				transition: opacity 0.3s ease-in-out;
			}
			&:first-child {
				margin-left: 0;
				.fb-photo {
					margin: 2px;
				}
			}
			&:hover {
				.fb-photo {
					opacity: 1;
				}
			}
			&.orange {
				background-color: @orange;
			}
			&.red {
				background-color: @red;
				left: 60px;
			}
			&.yellow {
				background-color: @yellow;
				left: 120px;
			}
			&.light-green {
				background-color: @light_green;
				left: 180px;
			}
			&.green {
				background-color: @green;
				left: 240px;
			}
			&.blue {
				background-color: @blue;
				left: 300px;
			}
			&.pink {
				background-color: @pink;
			}
		}
	}
	.cloud1 {
		width: 195px;
		height: 114px;
		background-image: url(../img/cloud1.png);
		background-repeat: no-repeat;
		position: absolute;
		right: 500px;
		top: 20px;
		z-index: 100;
	}
	.cloud2 {
		width: 137px;
		height: 89px;
		background-image: url(../img/cloud2.png);
		background-repeat: no-repeat;
		position: absolute;
		right: 100px;
		top: 60px;
		z-index: 100;
	}
	.sun {
		width: 90px;
		height: 90px;
		background-image: url(../img/sun.png);
		background-repeat: no-repeat;
		position: absolute;
		right: 400px;
		top: 10px;
		z-index: 50;
	}
	.sat {
		width: 74px;
		height: 52px;
		background-image: url(../img/sat.png);
		background-repeat: no-repeat;
		position: absolute;
		right: 900px;
		top: 25px;
		z-index: 50;

		transition: right 400s ease-out;
	}
	&.play {
		.sat {
			right: 0;
		}
	}
}

.what-we-do {
	height: 470px;
	background-color: white;

	h2 {
		color: #333;
		margin: 0;
		padding: 0;
		padding-top: 30px;
		text-align: center;
		font-size: 44px;
		margin: 0;
		padding-top: 40px;
	}
	p {
		text-align: center;
		margin: 0;
		font-size: 26px;
		color: gray;
	}
}


.container {
	width: 1200px;
	margin: 0 auto;
}

.anchor {
	position: relative;
	visibility: none;
	height: 0;
	width: 0;
	overflow: hidden;
	display: block;
}

.fantasy {
	background-image: url(../img/fantasy.jpg);
	background-size: cover;
}
.megan1 {
	background-image: url(../img/megan1.jpg);
	background-size: cover;
}
.megan2 {
	background-image: url(../img/megan2.jpg);
	background-size: cover;
}